li{
    list-style-type: none;
    font-size: 1.2vh;
    margin-top:7%;
}

a{
  text-decoration: none;
  /*color*/
  color: rgb(255, 255, 255);
  /*padding*/
  padding: 3px;
  margin: 2px;
  /*Font*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a:hover{
    color: #999999;
}

 nav{
    width: 100vw;
    height: 17px;
    background-color: #000000;
}

ul{
    margin: 0;
    padding: 0;
      /*row*/
  display: flex;
  margin-left: 68%;
  }

  body{
    margin: 0;
  }

  .logo-animate{
    height:180%;
    margin-left: -1%;
    margin-top: -3.4%;
  }


  .name{
    /* height:20%; */
    margin-left: 6%;
    margin-top: -5.6%;
  }

  .name-plate{
    width: 25%;
  }

  .grey-mountians{
      margin-top: 10%;
  }
 
  .res-button{
    margin-top: -12%;
    margin-left: 78.7%;
    width: 9%;
  }

  .container{
    margin-left: 10%;
    margin-top: -35%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "s a";
  }

  .self-portrait{
    width: 24%;
    position: absolute;
    grid-area: s;
  }
  
  h1 {
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

  .about-paragraph{
    grid-area: a;
    width: 35%;
    margin-left: 30%;
    margin-top: -3%;
    font-size: .9vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  /* a different version of the grid that is activated on devices 1200px or wider (most tablets and desktop devices*/
@media only screen and (min-width: 1200px) {
 
ul{
  margin: 0;
  padding: 0;
    /*row*/
display: flex;
margin-left: 72%;
}
li{
  list-style-type: none;
  margin: 1.2vw;
  font-size: 3vh;
  margin-top: 6%;
}

.logo-animate{
  height:200%;
  margin-left:.2%;
  margin-top: -2.5%;
}
nav{
  width: 100vw;
  height: 35px;
  background-color: #000000;
}
.grey-mountians{
  margin-top: 6%;
  width: 100%;
}
.res-button{
  margin-top: -10.6%;
  margin-left: 79.3%;
 width: 9%;
}

.name{
  margin-left: 6%;
  margin-top: -3.5%;
}

.name-plate{
  width: 20%;
}

.container{
  margin-left: 10%;
  margin-top: -29%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "s a";
}

.self-portrait{
  margin-top: -3%;
  width: 22%;
  position: absolute;
  grid-area: s;
}

h1 {
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.about-paragraph{
  grid-area: a;
  width: 30%;
  margin-left: 30%;
  margin-top: -6%;
  font-size: 2vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
} 