/* *{
  border: dashed 1px green;
} */
li{
    list-style-type: none;
    font-size: 1.2vh;
    margin-top:7%;
}

*{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  /*color*/
  color: rgb(255, 255, 255);
  /*padding*/
  padding: 3px;
  margin: 2px;
  /*Font*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a:hover{
  color: #999999;
}

 nav{
    width: 100vw;
    height: 17px;
    background-color: #000000;
  }

ul{
    margin: 0;
    padding: 0;
      /*row*/
  display: flex;
  margin-left: 68%;
  }

  body{
    margin: 0;
  }

  
  .logo-animate{
    height:180%;
    margin-left: -1%;
    margin-top: -3.4%;
  }

  .name{
    /* height:20%; */
    margin-left: 6%;
    margin-top: -5.6%;
  }


  .name-plate{
    width: 25%;
  }

  .mountians{
    margin-top:5%;
  }

  .work{
   width:15%;
   margin-left:41%;
   margin-top:2%;
  }

  .container{
    margin-left: 4%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "v y"
    "s b";
  }
/*VASE IMAGE*/
.vase-img{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    grid-area: v;
  }

.vase_overlay{
  position: absolute;
  top: 42%;
  left: 7.5%;
  width: 43%;
  height: 24.5%;
  background-color:black;
  opacity: 0%;
}

.vase_overlay:hover{
  opacity: 40%;
}

.vase_text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 35%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
}

/*YOGURT IMAGE*/
.yogurt-img{
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
  grid-area: y;
}

.yogurt_overlay{
  position: absolute;
  top: 42.1%;
  left: 55.6%;
  width: 38.1%;
  height: 35.6%;
  background-color:black;
  opacity: 0%;
}

.yogurt_overlay:hover{
  opacity: 40%;
}

.yogurt_text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
}

/*SUSHI IMAGE*/
.sushi-img{
  margin-top: -30%;
  margin-left: 5%;
  width: 90%;
  grid-area: s;
}

.sushi_overlay{
  position: absolute;
  top: 68.5%;
  left: 7.5%;
  width: 42.6%;
  height: 25%;
  background-color:black;
  opacity: 0%;
}

.sushi_overlay:hover{
  opacity: 40%;
}

.sushi_text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 30%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
}
/*BOTTLES IMAGE*/
.bottles-img{
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
  grid-area: b;
}
.bottles_overlay{
  position: absolute;
  top: 80.5%;
  left: 55.9%;
  width: 37.8%;
  height: 35%;
  background-color:black;
  opacity: 0%;
}

.bottles_overlay:hover{
  opacity: 40%;
}

.bottles_text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
}


 


  /* a different version of the grid that is activated on devices 1200px or wider (most tablets and desktop devices*/
@media only screen and (min-width: 1200px) {
 
ul{
  margin: 0;
  padding: 0;
    /*row*/
display: flex;
margin-left: 72%;
}
li{
  list-style-type: none;
  margin: 1.2vw;
  font-size: 3vh;
  margin-top: 6%;
}

.logo-animate{
  height:200%;
  margin-left:.2%;
  margin-top: -2.5%;
}
nav{
  width: 100vw;
  height: 35px;
  background-color: #000000;
}

.name{
  margin-left: 6%;
  margin-top: -3.5%;
}

.name-plate{
  width: 20%;
}

/*VASE IMAGE*/
.vase-img{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    grid-area: v;
  }

.vase_overlay{
  position: absolute;
  top: 115%;
  left: 6.8%;
  width: 43%;
  height: 70.5%;
  background-color:black;
  opacity: 0%;
}

.vase_overlay:hover{
  opacity: 40%;
}

.vase_text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 35%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 400%;
}

/*YOGURT IMAGE*/
.yogurt-img{
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
  grid-area: y;
}

.yogurt_overlay{
  position: absolute;
  top: 115%;
  left: 54.9%;
  width: 38.2%;
  height: 103.1%;
  background-color:black;
  opacity: 0%;
}

.yogurt_overlay:hover{
  opacity: 40%;
}

.yogurt_text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 60%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 400%;
}

/*SUSHI IMAGE*/
.sushi-img{
  margin-top: -30%;
  margin-left: 5%;
  width: 90%;
  grid-area: s;
}

.sushi_overlay{
  position: absolute;
  top: 189%;
  left: 6.7%;
  width: 43.1%;
  height: 73%;
  background-color:black;
  opacity: 0%;
}

.sushi_overlay:hover{
  opacity: 40%;
}

.sushi_text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 35%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 400%;
}
/*BOTTLES IMAGE*/
.bottles-img{
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
  grid-area: b;
}
.bottles_overlay{
  position: absolute;
  top: 224%;
  left: 54.8%;
  width: 38.5%;
  height: 102%;
  background-color:black;
  opacity: 0%;
}

.bottles_overlay:hover{
  opacity: 40%;
}

.bottles_text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 35%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 400%;
}

} 


  