/* *{
  border: dashed 1px green;
} */
li{
    list-style-type: none;
    font-size: 1.2vh;
    margin-top:7%;
}

a{
  text-decoration: none;
  /*color*/
  color: rgb(255, 255, 255);
  /*padding*/
  padding: 3px;
  margin: 2px;
  /*Font*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a:hover{
  color: #999999;
}

 nav{
    width: 100vw;
    height: 17px;
    background-color: #000000;
  }

ul{
    margin: 0;
    padding: 0;
      /*row*/
  display: flex;
  margin-left: 68%;
  }

  body{
    margin: 0;
  }

  .logo-animate{
    height:180%;
    margin-left: -1%;
    margin-top: -3.4%;
  }


  .name{
    /* height:20%; */
    margin-left: 6%;
    margin-top: -5.6%;
  }


  .name-plate{
    width: 25%;
  }

  .container{
    margin-left: 4%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "v y"
    "s b";
  }

.sushi-img{
    margin-top: 5%;
    margin-left: 37%;
    width: 60%;
    grid-area: v;
  }






  /* a different version of the grid that is activated on devices 1200px or wider (most tablets and desktop devices*/
@media only screen and (min-width: 1200px) {
 
ul{
  margin: 0;
  padding: 0;
    /*row*/
display: flex;
margin-left: 72%;
}
li{
  list-style-type: none;
  margin: 1.2vw;
  font-size: 3vh;
  margin-top: 6%;
}

.logo-animate{
  height:200%;
  margin-left:.2%;
  margin-top: -2.5%;
}
nav{
  width: 100vw;
  height: 35px;
  background-color: #000000;
}

.name{
  margin-left: 6%;
  margin-top: -3.5%;
}

.name-plate{
  width: 20%;
}

.sushi-img{
    margin-top: 5%;
    margin-left: 47%;
    width: 50%;
    grid-area: v;
  }

} 